@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter" !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600 !important;
}
.react-calendar__tile--active {
  background-color: #5591a9 !important;
}
